/* ref: https://codepen.io/sandrina-p/pen/axVeGg */
* {
    font-family: Arial, Helvetica, sans-serif;
}

#problem p {
    font-size: 14;
}

#solutionTable {
    border-collapse: collapse;
    width: 100%;
}

#solutionTable td,
#solutionTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#solutionTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.highlight {
    background: yellow;
}

.glassSection {
    border: 1px solid black;
}

#actionGlass {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 20px;
    margin: 0px;
}

.glassCtr {
    display: inline-block;
    vertical-align: middle;
}

.glass {
    width: 40px;
    position: relative;
    margin: 40px;
    border: 2px solid black;
    transform: perspective(120px) rotateX(-45deg);
}

.leftGlass {
    --leftHeight: 100px;
    --leftFillFrom: -25px;
    --leftFillTo: -50px;
    --leftAniDur: 1600ms;
    height: var(--leftHeight);
    box-shadow: inset 0 var(--leftFillTo) blue;
}

.rightGlass {
    --rightHeight: 100px;
    --rightFillFrom: -70px;
    --rightFillTo: -20px;
    --rightAniDur: 1600ms;
    height: var(--rightHeight);
    box-shadow: inset 0 var(--rightFillTo) blue;
}

.leftAni {
    animation: leftLoad var(--leftAniDur) linear alternate;
}

.rightAni {
    animation: rightLoad var(--rightAniDur) linear alternate;
}

@keyframes leftLoad {
    0% {
        box-shadow: inset 0 var(--leftFillFrom) blue;
    }
    100% {
        box-shadow: inset 0 var(--leftFillTo) blue;
    }
}

@keyframes rightLoad {
    0% {
        box-shadow: inset 0 var(--rightFillFrom) blue;
    }
    100% {
        box-shadow: inset 0 var(--rightFillTo) blue;
    }
}
