* {
    font-family: Arial, Helvetica, sans-serif;
}

#problem p {
    font-size: 14;
}

#solutionTable {
    border-collapse: collapse;
    width: 100%;
}

#solutionTable td,
#solutionTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#solutionTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#solutionTable tr:hover {
    background-color: #ddd;
}

#solutionTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.glassSection {
    border: 1px solid black;
}

#actionGlass {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 100px;
    margin: 40px;
}

.glass {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 100px;
    position: relative;
    margin: 40px;
    border: 2px solid black;
    transform: perspective(120px) rotateX(-45deg);
}

/* ref: https://codepen.io/sandrina-p/pen/axVeGg */

.leftGlass {
    --leftFillFrom: -25px;
    --leftFillTo: -50px;
    --leftAniDur: 1600ms;
    box-shadow: inset 0 var(--leftFillTo) blue;
}

.rightGlass {
    --rightFillFrom: -70px;
    --rightFillTo: -20px;
    --rightAniDur: 1600ms;
    box-shadow: inset 0 var(--rightFillTo) blue;
}

.leftAni {
    animation: leftLoad var(--leftAniDur) linear alternate;
}

.rightAni {
    animation: rightLoad var(--rightAniDur) linear alternate;
}

@keyframes leftLoad {
    0% {
        box-shadow: inset 0 var(--leftFillFrom) blue;
    }
    100% {
        box-shadow: inset 0 var(--leftFillTo) blue;
    }
}

@keyframes rightLoad {
    0% {
        box-shadow: inset 0 var(--rightFillFrom) blue;
    }
    100% {
        box-shadow: inset 0 var(--rightFillTo) blue;
    }
}
